<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="origin-trial" content="AoJBixRP9Ln6CFv999ehCY4NB6FerDJm7yKTX1jZEBq0Yw932fti3L1evs4t317Y2zVNXIBbsHK0uibYuOd5zwgAAABieyJvcmlnaW4iOiJodHRwczovL3dlYnRlbGVwcm9tcHRlci5zdHJlYW1sb3R0ZXJ5LmRlOjQ0MyIsImZlYXR1cmUiOiJXYWtlTG9jayIsImV4cGlyeSI6MTU5NDE2NjM5OX0="/>

    <title>{{title}}</title>
    <link rel="manifest" href="/manifest.json" />

    <!-- All Apple touch icons for iPad, iPhone, iPod -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />

    <!-- 12.9" iPad Pro Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2048x2732.png" media="(device-width: 2048px) and (device-height: 2732px) and (orientation: portrait)" />
    <!-- 12.9" iPad Pro Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2732x2048.png" media="(device-width: 2732px) and (device-height: 2048px) and (orientation: landscape)" />
    <!--  11" iPad Pro Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1668x2388.png" media="(device-width: 1668px) and (device-height: 2388px) and (orientation: portrait)" />
    <!--  11" iPad Pro Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2388x1668.png" media="(device-width: 2388px) and (device-height: 1668px) and (orientation: landscape)" />
    <!-- 10.5" iPad Pro Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1668x2224.png" media="(device-width: 1668px) and (device-height: 2224px) and (orientation: portrait)" />
    <!-- 10.5" iPad Pro Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2224x1668.png" media="(device-width: 2224px) and (device-height: 1668px) and (orientation: landscape)" />
    <!--  9.7" iPad Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1536x2048.png" media="(device-width: 1536px) and (device-height: 2048px) and (orientation: portrait)" />
    <!--  9.7" iPad Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2048x1536.png" media="(device-width: 2048px) and (device-height: 1536px) and (orientation: landscape)" />
    <!--7.9" iPad mini 4 Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1536x2048.png" media="(device-width: 1536px) and (device-height: 2048px) and (orientation: portrait)" />
    <!--7.9" iPad mini 4 Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2048x1536.png" media="(device-width: 2048px and (device-height: 1536px) and (orientation: landscape)" />
    <!--  iPhone XS Max Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1242x2688.png" media="(device-width: 1242px and (device-height: 2688px) and (orientation: portrait)" />
    <!--  iPhone XS Max Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2688x1242.png" media="(device-width: 2688px) and (device-height: 142px) and (orientation: landscape)" />
    <!--  iPhone XS Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1125x2436.png" media="(device-width: 1125px) and (device-height: 236px) and (orientation: portrait)" />
    <!--  iPhone XS Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2436x1125.png" media="(device-width: 2436px) and (device-height: 1125px) and (orientation: landscape)" />
    <!--  iPhone XR Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-828x1792.png" media="(device-width: 828px) and (device-height: 192px) and (orientation: portrait)" />
    <!--  iPhone XR Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1792x828.png" media="(device-width: 1792px) and (device-height: 28px) and (orientation: landscape)" />
    <!--  iPhone X Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1125x2436.png" media="(device-width: 1125px) and (device-height: 236px) and (orientation: portrait)" />
    <!--  iPhone X Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2436x1125.png" media="(device-width: 2436px and (device-height: 1125px) and (orientation: landscape)" />
    <!--  iPhone 8 Plus Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1242x2208.png" media="(device-width: 1242px and (device-height: 2208px) and (orientation: portrait)" />
    <!--  iPhone 8 Plus Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2208x1242.png" media="(device-width: 2208px) and (device-height: 1242px) and (orientation: landscape)" />
    <!--  iPhone 8 Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-750x1334.png" media="(device-width: 750px) and (device-height: 134px) and (orientation: portrait)" />
    <!--  iPhone 8 Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1334x750.png" media="(device-width: 1334px and (device-height: 750px) and (orientation: landscape)" />
    <!--  iPhone 7 Plus Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1242x2208.png" media="(device-width: 1242px and (device-height: 2208px) and (orientation: portrait)" />
    <!--  iPhone 7 Plus Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2208x1242.png" media="(device-width: 2208px) and (device-height: 1242px) and (orientation: landscape)" />
    <!--  iPhone 7 Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-750x1334.png" media="(device-width: 750px) and (device-height: 134px) and (orientation: portrait)" />
    <!--  iPhone 7 Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1334x750.png" media="(device-width: 1334px and (device-height: 750px) and (orientation: landscape)" />
    <!--  iPhone 6s Plus Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1242x2208.png" media="(device-width: 1242px and (device-height: 2208px) and (orientation: portrait)" />
    <!--  iPhone 6s Plus Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-2208x1242.png" media="(device-width: 2208px) and (device-height: 1242px) and (orientation: landscape)" />
    <!--  iPhone 6s Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-750x1334.png" media="(device-width: 750px) and (device-height: 134px) and (orientation: portrait)" />
    <!--  iPhone 6s Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1334x750.png" media="(device-width: 1334px) and (device-height: 50px) and (orientation: landscape)" />
    <!--  iPhone SE Portrait -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-640x1136.png" media="(device-width: 640px) and (device-height: 136px) and (orientation: portrait)" />
    <!--  iPhone SE Landscape -->
    <link rel="apple-touch-startup-image" href="./launch-screens/launch-screen-1136x640.png" media="(device-width: 1136px) and (device-height: 640px) and (orientation: landscape)" />

    <!-- All favicon sizes - for all devices and browsers -->
    <link rel="icon" type="image/png" href="/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicons/favicon-128x128.png" sizes="128x128" />

    <!-- A favicon with four different sizes -->
    <link rel="shortcut icon" type="image/x-icon" href="favicons/favicon.ico" />

    <!-- Application color for Microsoft Windows app tile and Android status bar -->
    <meta name="theme-color" content="#edc22e" />
    <meta name="msapplication-TileColor" content="#edc22e" />

    <!-- Application name for Microsoft Windows app tile -->
    <meta name="application-name" content="WebTeleprompter" />

    <!-- Application icons for Microsoft Windows app tile -->
    <meta name="msapplication-TileImage" content="/favicons/ms-tile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/favicons/ms-tile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/favicons/ms-tile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/favicons/ms-tile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/favicons/ms-tile-310x310.png" />

    <!-- Application config file for Microsoft browsers -->
    <meta name="msapplication-config" content="/config.xml" />

    <link rel="stylesheet" href="/lib/css/libs.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body class="m-0 p-0">
    <div class="container-fluid p-0 m-0">
        <nav id="sidebar" class="navbar navbar-expand justify-content-center">
            <a href="/" title="{{__ "WebTeleprompter"}}" class="navLink navbar-brand logo p-2"><i class="fas fa-text-height"></i></a>
            <ul class="list-unstyled navbar-nav">
                <li class="ml-4 mr-4 controllerHome nav-item">
                    <a href="/" title="{{__ "Home"}}" class="navLink"><i class="fas fa-home"></i></a>
                </li>
                <li class="ml-4 mr-4 controllerDocuments nav-item">
                    <a href="/documents" title="{{__ "Your documents"}}" class="navLink"><i class="fas fa-file-alt"></i></a>
                </li>
                <li class="ml-4 mr-4 controllerSettings nav-item">
                    <a href="/settings" title="{{__ "Settings"}}" class="navLink"><i class="fas fa-cogs"></i></a>
                </li>
                <li class="ml-4 mr-4 controllerDonate nav-item">
                    <a href="/donate" title="{{__ "Donate if you like"}}" class="navLink"><i class="fab fa-paypal"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid p-0 m-0 mt-2 pt-2">
        <div id="content" class="pt-4 mb-4 container">
            <div class="p-2" id="pagecontent">
                {{{body}}}
            </div>
        </div>
    </div>
    <script src="/lib/tinymce/tinymce.min.js"></script>
    <script src="/lib/js/libs.min.js"></script>
    <script src="/lib/tinymce/jquery.tinymce.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script>
        $(document).ready(() => {
            app = new WebTelepromterApp();
            app.createView();
            app.createNavigation();

            // Keep screen on
            let requestWakeLock = () => {};
            let handleVisibilityChange = () => {
                if (document.visibilityState === 'visible') {
                    requestWakeLock();
                }
            };
            if ('WakeLock' in window && 'request' in window.WakeLock) {
                requestWakeLock = () => {
                    const controller = new AbortController();
                    const signal = controller.signal;
                    window.WakeLock.request('screen', {signal}).catch((e) => {
                        if (e.name === 'AbortError') {
                            console.log('Wake Lock was aborted');
                        } else {
                            console.error(`${e.name}, ${e.message}`);
                        }
                    });
                    console.log('Wake Log activated with window object');
                };
                requestWakeLock();
                document.addEventListener('visibilitychange', handleVisibilityChange);
                document.addEventListener('fullscreenchange', handleVisibilityChange);
            } else if ('wakeLock' in navigator && 'request' in navigator.wakeLock) {
                try {
                    requestWakeLock = async () => {
                        wakeLock = await navigator.wakeLock.request('screen');
                        wakeLock.addEventListener('release', () => {
                            console.log('Wake Lock was released');
                        });
                        console.log('Wake Log activated with navigator object');
                    };
                    requestWakeLock();
                    document.addEventListener('visibilitychange', handleVisibilityChange);
                    document.addEventListener('fullscreenchange', handleVisibilityChange);
                } catch (e) {
                    console.error(`${e.name}, ${e.message}`);
                }
            } else {
                console.log('wakeLock not supported');
            }
        });

        // Service worker implementation
        let swRegistration = null;
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js').then(
                    registration => {
                        swRegistration = registration;
                        console.log(`ServiceWorker registration successful with scope: ${registration.scope}`);

                    },
                    error => {
                        console.log(`ServiceWorker registration failed: ${error}`);
                    }
                );
            });
        }
    </script>
</body>
</html>