<h1 class="mb-4">{{title}}</h1>

<script>
    createView = () => {
        if (!app.isInStandaloneMode()) {
            // Install prompt
            if($('#pwaInstallPrompt').length) {
                let deferredPrompt;
                window.addEventListener('beforeinstallprompt', (e) => {
                    // Prevent the mini-infobar from appearing on mobile
                    e.preventDefault();
                    // Stash the event so it can be triggered later.
                    deferredPrompt = e;
                    // Show install prompt window
                    $('#pwaInstallPrompt').removeClass('d-none');
                });

                $('#pwaInstallButton').on('click', (e) => {
                    // Hide the app provided install promotion
                    $('#pwaInstallPrompt').remove();
                    // Show the install prompt
                    deferredPrompt.prompt();
                    // Wait for the user to respond to the prompt
                    deferredPrompt.userChoice.then((choiceResult) => {
                        $('#pwaInstallPrompt').remove();
                    });
                });

                $('#pwaInstallButtonAbort').on('click', () => {
                    $('#pwaInstallPrompt').remove();
                });
            }
        }
    };
</script>

<div id="pwaInstallPrompt" class="d-none p-2 text-center fixed-top">
    <p><strong>{{__ "Install as App"}}?</strong></p>
    <button class="btn btn-success btn-sm" id="pwaInstallButton">{{__ "Install"}}</button>
    <button class="btn btn-danger btn-sm" id="pwaInstallButtonAbort">{{__ "Close"}}</button>
</div>

<h2 class="display-4 text-center">{{__ "What is this"}}?</h2>

<div class="jumbotron">
    {{{__ "HomeIntroduction"}}}
</div>
